@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
}


/* button style*/


.btn-praimary{
  color: #FFF;
  border-radius: 8px;
  background: #FF900E;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border: 0;
  cursor: pointer;
}


/* header style */


header{
  background-color: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
.banner img{
  width: 100%;
  margin-top: 10px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}
nav ul {
  display: flex;
  align-items: center;
  
}
ul li{
  list-style: none;
  margin-right: 30px;
}
li a{
  text-decoration: none;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}
.banner-contant{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  
}
.banner-title{
  font-size: 64px;
  font-weight: 700;
  color: #131313;
  line-height: normal;

}
.text-light-gray{
  color: #727272;
  
}


/* main section style */
/* team section style */

main{
  max-width: 1440px;
  margin: 70px auto;
}
.team-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-contant{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title{
  font-size: 2.8rem;
}
.Quick-list{
  color: #727272;
  font-weight: 500;
}
.of-our{
  color: #131313;
  font-weight: 700;
}
.featurs{
  color: #FF900E;
  font-weight: 700;
}

/* features section style */

.features{
  margin-top: 130px;
  display: flex;
  gap: 100px;
   
}
.section-title{
  color:#131313;
  border-left: 5px solid #FF900E;
  padding-left: 20px;
  font-size: 2.25rem;
  font-weight: 700;
}
.features-card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-img img{
  height: 90%;
  margin-left: 50px;
}
.ten-years-badge{
  border-radius: 8px;
  background: #FF900E;
  color:#FFF;
  width: 342px;
  padding: 15px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.ten-years-badge h1{
  font-size: 4rem;
  margin: 0;
}
 
/* facts section style */

.facts-card-container{
  display: flex;
  justify-content: space-between;
}
.icon-contant{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
}
.card-title{
  font-weight: 600;
  color: #727272;
  font-size: 1.25rem;
  margin-top: 5px;
}
.card-stats{
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom:10px ;
}

/* sponspors section style */


.sponspors{
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}
.sponspors-title{
  color: #131313;
  font-size: 1.25rem;
  font-weight: 700;
}
.sponspors-img-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sponspors-img-container img{
  width: 166px;
}
/* fotter section style */

.footer{
   
  border-radius: 8px;
  background: #FFF4E7;
  text-align: center;
}
.footer-title{
  padding: 50px 30px;
}

/* responsive */

@media screen and ( max-width: 576px) {
  header{
    padding: 20px;
  }
  nav,
  .features,
  .team-container
  {
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .features-img img{
    width: 100%;
    margin-left:0 ;
  }
  .facts-card-container{
    flex-direction: column;
  }
  .team-container{
    padding-top: 20px;
    padding-bottom:20px ;
  }
  .facts-card-container{
    gap: 20px;
  }
   
}

@media screen add (min-width:576px) and  (max-width: 960px)  { 
  header{
    padding: 20px;
  } 
  nav,
  .team-container
  {
    flex-direction: column;
  }
}